# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
local-*
.claude
.z-ai-config
dev.log
test
prompt

server.log
/version
/backend/app/services/face_engine/__pycache__
backend/app/core/__pycache__/model_config.cpython-312.pyc
backend/app/models/__pycache__/enrollment.cpython-312.pyc
/backend/.venv
/backend/app/__pycache__
/backend/app/api/__pycache__
/backend/app/api/endpoints/__pycache__
/backend/app/core/__pycache__
/backend/app/services/__pycache__
*.pyc
/backend/models
backend/models.rar
backend/models.zip
